name: Laravel CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, intl, pdo_mysql
          coverage: none

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Copy .env.testing
        run: php -r "file_exists('.env.testing') || copy('.env.example', '.env.testing');"

      - name: Generate App Key
        run: php artisan key:generate

      - name: Run Migrations
        run: php artisan migrate --env=testing

      # - name: Run Tests
      #   run: php artisan test

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: laravel-app
          path: |
            app/
            bootstrap/
            config/
            database/
            routes/
            public/
            resources/
            .env
            composer.lock
  
  deploy:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: laravel-app

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          protocol: ftps
          port: 22
          local-dir: ./
          server-dir: /public_html/CICD